[submodule "Usagi/vendor/spdlog"]
	path = Usagi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Usagi/vendor/glfw"]
	path = Usagi/vendor/glfw
	url = https://github.com/TheCherno/GLFW
